<div class="well entry twitter-entry">
  <div class="body">
    <%= entry[:body] %>
  </div>
  <div class="entry-footer">
    <span class="time">
      <%= entry[:created_at] %>,
    </span>
    <span class="author">
      <%= link_to "@#{entry[:screen_name]}", "https://twitter.com/#{entry[:screen_name]}" %>
    </span>
  </div>
</div>
