<div class="well entry vk-entry">
  <div class="body">
    <%= raw entry[:body] %>
  </div>
  <div class="entry-footer">
    <span class="time">
      <%= entry[:created_at] %>
    </span>
    <span class="author">
    </span>
  </div>
</div>
